JKM_IMX258JKM_SUNNY=/odm/etc/camera/hwbeauty/imx258/
JKM_IMX258JKM_SUNNY_SY_MTM=/odm/etc/camera/hwbeauty/imx258/
JKM_IMX258JKM_SUNNY_SY_ZL=/odm/etc/camera/hwbeauty/imx258/
JKM_OV13855JKM_OFILM=/odm/etc/camera/hwbeauty/ov13855/
JKM_OV13855JKM_OFILM_LG_TDK=/odm/etc/camera/hwbeauty/ov13855/
JKM_OV13855JKM_OFILM_LG_BL=/odm/etc/camera/hwbeauty/ov13855/
JKM_OV13855JKM_OFILM_LG_V1_TDK=/odm/etc/camera/hwbeauty/ov13855/
JKM_HI1333JKM_QTECH=/odm/etc/camera/hwbeauty/hi1333/
JKM_S5K3L6JKM_LITEON=/odm/etc/camera/hwbeauty/s5k3l6/
JKM_S5K3L6JKM_LITEON_GS_ZL=/odm/etc/camera/hwbeauty/s5k3l6/
JKM_S5K3L6JKM_LITEON_AAC_ZL=/odm/etc/camera/hwbeauty/s5k3l6/
JKM_S5K3P8JKM_SUNNY=/odm/etc/camera/hwbeauty/s5k3p8/
JKM_IMX371JKM_OFILM=/odm/etc/camera/hwbeauty/imx371/
JKM_IMX371JKM_FOXCONN=/odm/etc/camera/hwbeauty/imx371/
JKM_IMX371JKM_QTECH=/odm/etc/camera/hwbeauty/imx371/
JKM_OV16885JKM_LITEON=/odm/etc/camera/hwbeauty/ov16885/
JKM_IMX582JKM_SUNNY=/odm/etc/camera/hwbeauty/imx582/
JKM_IMX582JKM_OFILM=/odm/etc/camera/hwbeauty/imx582/
JKM_IMX582JKM_FOXCONN=/odm/etc/camera/hwbeauty/imx582/
JKM_IMX582JKM_LUXVISIONS=/odm/etc/camera/hwbeauty/imx582/
JKM_IMX576JKM_SUNNY=/odm/etc/camera/hwbeauty/imx576/
JKM_IMX576JKM_OFILM=/odm/etc/camera/hwbeauty/imx576/
JKM_IMX576JKM_LGIT=/odm/etc/camera/hwbeauty/imx576/