POT_S5K3P8POT_SUNNY=/odm/etc/camera/hwldc/s5k3p8_front/
POT_IMX371POT_OFILM=/odm/etc/camera/hwldc/imx371_front/
POT_IMX371POT_QTECH=/odm/etc/camera/hwldc/imx371_front/
POT_IMX371POT_FOXCONN=/odm/etc/camera/hwldc/imx371_front/
POT_OV16885POT_LITEON=/odm/etc/camera/hwldc/ov16885_front/
POT_S5K4H7POT_BYD=/odm/etc/camera/hwldc/s5k4h7_front/
POT_S5K4H7POT_OFILM=/odm/etc/camera/hwldc/s5k4h7_front/
POT_HI846POT_TRULY=/odm/etc/camera/hwldc/hi846_front/
POT_HI846POT_BYD=/odm/etc/camera/hwldc/hi846_front/
POT_IMX576POTFRONT_LITEON=/odm/etc/camera/hwldc/imx576_front/
POT_IMX576POTFRONT_OFILM=/odm/etc/camera/hwldc/imx576_front/
POT_IMX576POTFRONT_FOXCONN=/odm/etc/camera/hwldc/imx576_front/
POT_IMX616POT_SUNNY=/odm/etc/camera/hwldc/imx616_front/
POT_IMX616POT_OFILM=/odm/etc/camera/hwldc/imx616_front/
POT_S5KGD1SPPOT_QTECH=/odm/etc/camera/hwldc/s5kgd1sp_front/