POT_HI1333POT_QTECH=/odm/etc/camera/multidenoise/hi1333/
POT_IMX258POT_SUNNY=/odm/etc/camera/multidenoise/imx258/
POT_IMX258POT_SUNNY_SY_MTM=/odm/etc/camera/multidenoise/imx258/
POT_IMX258POT_SUNNY_SY_ZL=/odm/etc/camera/multidenoise/imx258/
POT_OV13855POT_OFILM=/odm/etc/camera/multidenoise/ov13855/
POT_OV13855POT_OFILM_LG_TDK=/odm/etc/camera/multidenoise/ov13855/
POT_OV13855POT_OFILM_LG_BL=/odm/etc/camera/multidenoise/ov13855/
POT_S5K3L6POT_LITEON=/odm/etc/camera/multidenoise/s5k3l6/
POT_S5K3L6POT_LITEON_GS_ZL=/odm/etc/camera/multidenoise/s5k3l6/
POT_S5K3L6POT_LITEON_AAC_ZL=/odm/etc/camera/multidenoise/s5k3l6/
POT_S5K3P8POT_SUNNY=/odm/etc/camera/multidenoise/s5k3p8_front/
POT_IMX371POT_OFILM=/odm/etc/camera/multidenoise/imx371_front/
POT_IMX371POT_QTECH=/odm/etc/camera/multidenoise/imx371_front/
POT_IMX371POT_FOXCONN=/odm/etc/camera/multidenoise/imx371_front/
POT_OV16885POT_LITEON=/odm/etc/camera/multidenoise/ov16885_front/
POT_S5K4H7POT_BYD=/odm/etc/camera/multidenoise/s5k4h7_front/
POT_S5K4H7POT_OFILM=/odm/etc/camera/multidenoise/s5k4h7_front/
POT_HI846POT_TRULY=/odm/etc/camera/multidenoise/hi846_front/
POT_HI846POT_BYD=/odm/etc/camera/multidenoise/hi846_front/
POT_IMX576POT_SUNNY=/odm/etc/camera/multidenoise/imx576/
POT_IMX576POT_OFILM=/odm/etc/camera/multidenoise/imx576/
POT_IMX576POT_LGIT=/odm/etc/camera/multidenoise/imx576/
POT_IMX576POTFRONT_LITEON=/odm/etc/camera/multidenoise/imx576_front/
POT_IMX576POTFRONT_OFILM=/odm/etc/camera/multidenoise/imx576_front/
POT_IMX576POTFRONT_FOXCONN=/odm/etc/camera/multidenoise/imx576_front/
POT_IMX616POT_SUNNY=/odm/etc/camera/multidenoise/imx616_front/
POT_IMX616POT_OFILM=/odm/etc/camera/multidenoise/imx616_front/
POT_S5KGD1SPPOT_QTECH=/odm/etc/camera/multidenoise/s5kgd1sp_front/
POT_IMX582POT_SUNNY=/odm/etc/camera/multidenoise/imx582/
POT_IMX582POT_FOXCONN=/odm/etc/camera/multidenoise/imx582/
POT_IMX582POT_LUXVISIONS=/odm/etc/camera/multidenoise/imx582/
POT_IMX582POT_OFILM=/odm/etc/camera/multidenoise/imx582/