JSN_IMX350JSN_FOXCONN=/odm/etc/camera/multidenoise/imx350/
JSN_IMX350JSN_QTECH=/odm/etc/camera/multidenoise/imx350/
JSN_IMX350JSN_QTECHV2=/odm/etc/camera/multidenoise/imx350/
JSN_IMX350JSN_OFILM=/odm/etc/camera/multidenoise/imx350/
JSN_OV20880JSN_FOXCONN=/odm/etc/camera/multidenoise/ov20880/
JSN_OV20880JSN_OFILM=/odm/etc/camera/multidenoise/ov20880/
JSN_IMX371JSN_OFILM=/odm/etc/camera/multidenoise/imx371/
JSN_IMX371JSN_FOXCONN=/odm/etc/camera/multidenoise/imx371/
JSN_IMX371JSN_QTECH=/odm/etc/camera/multidenoise/imx371/
JSN_OV16885JSN_LITEON=/odm/etc/camera/multidenoise/ov16885/
JSN_S5K3P8JSN_SUNNY=/odm/etc/camera/multidenoise/s5k3p8/
JSN_IMX576JSN_SUNNY=/odm/etc/camera/multidenoise/imx576/
JSN_IMX576JSN_OFILM=/odm/etc/camera/multidenoise/imx576/
JSN_IMX576JSN_LGIT=/odm/etc/camera/multidenoise/imx576/
JSN_IMX582JSN_SUNNY=/odm/etc/camera/multidenoise/imx582/
JSN_IMX582JSN_OFILM=/odm/etc/camera/multidenoise/imx582/
JSN_IMX582JSN_FOXCONN=/odm/etc/camera/multidenoise/imx582/
JSN_IMX582JSN_LUXVISIONS=/odm/etc/camera/multidenoise/imx582/