JSN_IMX350JSN_FOXCONN=/odm/etc/camera/bshutter/imx350/
JSN_IMX350JSN_QTECH=/odm/etc/camera/bshutter/imx350/
JSN_IMX350JSN_QTECHV2=/odm/etc/camera/bshutter/imx350/
JSN_IMX350JSN_OFILM=/odm/etc/camera/bshutter/imx350/
JSN_OV20880JSN_FOXCONN=/odm/etc/camera/bshutter/ov20880/
JSN_OV20880JSN_OFILM=/odm/etc/camera/bshutter/ov20880/
JSN_IMX576JSN_SUNNY=/odm/etc/camera/bshutter/imx576/
JSN_IMX576JSN_OFILM=/odm/etc/camera/bshutter/imx576/
JSN_IMX576JSN_LGIT=/odm/etc/camera/bshutter/imx576/
JSN_IMX582JSN_SUNNY=/odm/etc/camera/bshutter/imx582/
JSN_IMX582JSN_OFILM=/odm/etc/camera/bshutter/imx582/
JSN_IMX582JSN_FOXCONN=/odm/etc/camera/bshutter/imx582/
JSN_IMX582JSN_LUXVISIONS=/odm/etc/camera/bshutter/imx582/
