JSN_IMX371JSN_OFILM=/odm/etc/camera/quadra/imx371/
JSN_IMX371JSN_FOXCONN=/odm/etc/camera/quadra/imx371/
JSN_IMX371JSN_QTECH=/odm/etc/camera/quadra/imx371/
JSN_OV16885JSN_LITEON=/odm/etc/camera/quadra/ov16885/
JSN_S5K3P8JSN_SUNNY=/odm/etc/camera/quadra/s5k3p8/
JSN_IMX582JSN_SUNNY=/odm/etc/camera/quadra/imx582/
JSN_IMX582JSN_OFILM=/odm/etc/camera/quadra/imx582/
JSN_IMX582JSN_FOXCONN=/odm/etc/camera/quadra/imx582/
JSN_IMX582JSN_LUXVISIONS=/odm/etc/camera/quadra/imx582/