POT_S5K3P8POT_SUNNY=/odm/etc/camera/configeffect/quadra/s5k3p8_front/
POT_IMX371POT_OFILM=/odm/etc/camera/configeffect/quadra/imx371_front/
POT_IMX371POT_QTECH=/odm/etc/camera/configeffect/quadra/imx371_front/
POT_IMX371POT_FOXCONN=/odm/etc/camera/configeffect/quadra/imx371_front/
POT_OV16885POT_LITEON=/odm/etc/camera/configeffect/quadra/ov16885_front/
POT_IMX576POT_SUNNY=/odm/etc/camera/configeffect/quadra/imx576/
POT_IMX576POT_OFILM=/odm/etc/camera/configeffect/quadra/imx576/
POT_IMX576POT_LGIT=/odm/etc/camera/configeffect/quadra/imx576/
POT_IMX576POTFRONT_LITEON=/odm/etc/camera/configeffect/quadra/imx576_front/
POT_IMX576POTFRONT_OFILM=/odm/etc/camera/configeffect/quadra/imx576_front/
POT_IMX576POTFRONT_FOXCONN=/odm/etc/camera/configeffect/quadra/imx576_front/
POT_IMX616POT_SUNNY=/odm/etc/camera/configeffect/quadra/imx616_front/
POT_IMX616POT_OFILM=/odm/etc/camera/configeffect/quadra/imx616_front/
POT_S5KGD1SPPOT_QTECH=/odm/etc/camera/configeffect/quadra/s5kgd1sp_front/
POT_IMX582POT_SUNNY=/odm/etc/camera/configeffect/quadra/imx582/
POT_IMX582POT_FOXCONN=/odm/etc/camera/configeffect/quadra/imx582/
POT_IMX582POT_LUXVISIONS=/odm/etc/camera/configeffect/quadra/imx582/
POT_IMX582POT_OFILM=/odm/etc/camera/configeffect/quadra/imx582/