JKM_IMX371JKM_OFILM=/odm/etc/camera/pp_sr/imx371/
JKM_IMX371JKM_FOXCONN=/odm/etc/camera/pp_sr/imx371/
JKM_IMX371JKM_QTECH=/odm/etc/camera/pp_sr/imx371/
JKM_OV16885JKM_LITEON=/odm/etc/camera/pp_sr/ov16885/
JKM_S5K3P8JKM_SUNNY=/odm/etc/camera/pp_sr/s5k3p8/
JKM_IMX582JKM_SUNNY=/odm/etc/camera/pp_sr/imx582/
JKM_IMX582JKM_OFILM=/odm/etc/camera/pp_sr/imx582/
JKM_IMX582JKM_FOXCONN=/odm/etc/camera/pp_sr/imx582/
JKM_IMX582JKM_LUXVISIONS=/odm/etc/camera/pp_sr/imx582/
JKM_IMX576JKM_SUNNY=/odm/etc/camera/pp_sr/imx576/
JKM_IMX576JKM_OFILM=/odm/etc/camera/pp_sr/imx576/
JKM_IMX576JKM_LGIT=/odm/etc/camera/pp_sr/imx576/