POT_HI1333POT_QTECH=/odm/etc/camera/pp_sr/hi1333/
POT_IMX258POT_SUNNY=/odm/etc/camera/pp_sr/imx258/
POT_IMX258POT_SUNNY_SY_MTM=/odm/etc/camera/pp_sr/imx258/
POT_IMX258POT_SUNNY_SY_ZL=/odm/etc/camera/pp_sr/imx258/
POT_OV13855POT_OFILM=/odm/etc/camera/pp_sr/ov13855/
POT_OV13855POT_OFILM_LG_TDK=/odm/etc/camera/pp_sr/ov13855/
POT_OV13855POT_OFILM_LG_BL=/odm/etc/camera/pp_sr/ov13855/
POT_S5K3L6POT_LITEON=/odm/etc/camera/pp_sr/s5k3l6/
POT_S5K3L6POT_LITEON_GS_ZL=/odm/etc/camera/pp_sr/s5k3l6/
POT_S5K3L6POT_LITEON_AAC_ZL=/odm/etc/camera/pp_sr/s5k3l6/
POT_IMX576POT_SUNNY=/odm/etc/camera/pp_sr/imx576/
POT_IMX576POT_OFILM=/odm/etc/camera/pp_sr/imx576/
POT_IMX576POT_LGIT=/odm/etc/camera/pp_sr/imx576/
POT_IMX582POT_SUNNY=/odm/etc/camera/pp_sr/imx582/
POT_IMX582POT_FOXCONN=/odm/etc/camera/pp_sr/imx582/
POT_IMX582POT_LUXVISIONS=/odm/etc/camera/pp_sr/imx582/
POT_IMX582POT_OFILM=/odm/etc/camera/pp_sr/imx582/